# --extra-index-url https://download.pytorch.org/whl/cu124
# torch==2.5.1
# torchvision==0.20.1
# torchaudio==2.5.1

transformers>=4.46.0
accelerate>=1.0.0
deepspeed>=0.15.0
peft>=0.13.0
datasets>=3.0.0
sentencepiece
tokenizer

# Optimization & Efficiency
bitsandbytes==0.48.1
# flash-attn==2.6.3 --no-build-isolation

# Utilities
wandb
tyro
omegaconf
tqdm
matplotlib
pytest
rich
torchmetrics
python-dotenv

# dLLM specific
-e ./dllm

# === Evaluation Suite ===
lm-eval==0.4.5
evaluate>=0.4.0
sqlitedict
pytablewriter
rouge_score
sacrebleu
